<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Cerulean 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131223

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113287695-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113287695-1');
</script>

</head>
<body>
	
<style>
	ul { display:table; margin:0 auto;}
</style>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Twitter Sentiment Analysis</a></h1>
			<div id="menu">
				<ul>
					<li><a href="/" title="">Home</a></li>
					<li><a href="/demo" title="">Demo</a></li>
					<li><a href="/about" title="">About</a></li>
				</ul>
			</div>
			<ul class="contact">
				<li><a href="https://www.linkedin.com/in/tyleratk/" target="_blank" class="icon icon-linkedin"><span></span></a></li>
				<li><a href="https://github.com/tyleratk/twitter" target="_blank" class="icon icon-github"><span></span></a></li>
			</ul>
			</br></br>
			<p style="color:white;">Using machine learning and natural-language-processing to determine whether someone is happy or not, based off of their tweets.</p>
		</div>
	</div>
</div>

<div id="page-wrapper">
		<div class="title">
			<h2>About the Project</h2>
		</div>
		<div>
			<h3>Motivation</h3>
		</div>
		<p id="page-p">
		What is sentiment analysis? Sentiment analysis identifies if a piece of text is positive, neutral, or negative depending on the type of wording they use, any emoji's etc. An example of positive and negative tweets would look like:<br><br>
		<table style="width:60%;margin: 0px auto;">
			<tr>
				<th>Happy</th>
				<th>Sad</th> 
			</tr>
			<tr>
				<th>
					<img src='/static/images/happy_tweet.png' width='450'><br>
				</th>
				<th>
					<img src='/static/images/sad_tweet.png' width='450'>
				</th>
			</tr>
		</table>
		
		</p><br>
		
		<h3>Collecting Data</h3>
		<p id="page-p">I collected my data using twitter's streaming API. Over the course of about a week I collected a total of 800k tweets that were sent out from the United States. After receiving a tweet from the API, I parsed it to pull out only the data I wanted, the text, time, location, etc and saved it to a mongo database.</p><br>
		<h3>Modeling</h3>
		<p id="page-p">To get sentiment, I used a package built into the python package nltk called Vader. It is a lexicon and rule-based sentiment analyzer that performs extremely well with sentiments expressed in social media. Social media is hard for natural language processing because people rarely use proper sentence structure and tend to use a lot of slang, and this is where Vader outperforms other tools. Using the examples from above, we can get a sentiment score of the tweet. After cleaning the text we get a score composite score of <span class='big'>.99 and -.98</span> respectively.<br><br>
		After labeling my tweets on a scale from -1 to 1, I decided to create a range for positive, neutral, and negative tweets and chose >= .1 as positive, > -0.1 and < 0.1 as neutral and <= -0.1 as negative. After cleaning the tweets to remove links, usernames, and hashtags I then created combinations of the following models paired with both CountVectorizer and TfidfVectorizer: Naive Bayes, LinearSVC, and Random Forest Classifier. Ultimately, the LinearSVC along with CountVectorizer performed the best.<br><br>
		<!-- The CountVectorizer simply turns all my tweets into a matrix of token counts.  -->
		
		</p>
		</div>

</div>

<div class="wrapper">
	<div class="title">
		<h2>Other Plots</h2><br>
		<p id="page-p">
			To apply this to a real topic, I filtered tweets containing words and hashtags that related to the two NFL teams playing in Super Bowl LII. I created two groups, one about the Patriots <span class='big'>(‘pats, brady, patriots’ etc.)</span> and one about the Eagles <span class='big'>(‘eagles’,‘Philadelphia’,‘nick foles’, etc.)</span>. Not surprisingly, most people from Massachusetts were tweeting about the Patriots and same for Pennsylvania and the Eagles.
		</p><br><br>
    <h3>Number of tweets about the Patriots</h3>
		<img src="/static/images/pats.png" width='850'><br><br>
    <h3>Number of tweets about the Eagles</h3>
		<img src="/static/images/eagles.png" width='850'><br><br><br><br>
    

		<h2>Word Clouds</h2><br>
		<p id="page-p">
      If you have a happy or sad label for tweets, you can filter through them by certain keywords or hashtags and look at what "happy" and "not happy" people are saying. For example, if we wanted to look at what people were saying about the college football championship game on January 8th, we could filter by the keywords <span class='big'>"football, Alabama, Georgia"</span>and generate two word clouds, one for the positive tweets and one for the negative tweets. Can you guess which one is which?<br><br>
		</p>
		<p id="page-p" style="font-size: 75%;text-align: center;">
			(hint: the top one is positive sentiment)
		</p>
		<img src="/static/images/pos_cloud.png" width='850'><br><br>
		<img src="/static/images/neg_cloud.png" width='850'><br><br><br><br>
		<h2></h2><br>
		<p id="page-p">
      Too see other types of analysis I used, including topic modeling, please visit <span class='big'><a href='https://github.com/tyleratk/twitter'>my github</a></span>. There you can find my open source code along with other useful information.<br></p>
      Thanks for visiting
	<p></p>
	</div>
</div>


<div id="copyright" class="container">
		<ul class="contact" style="width: 70%;margin: auto;">
      <li><a href="https://www.linkedin.com/in/tyleratk/" target="_blank" class="icon icon-linkedin"><span></span></a></li>
      <li><a href="https://github.com/tyleratk/twitter" target="_blank" class="icon icon-github"><span></span></a></li>
		</ul>
</div>
</body>
</html>
