<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113287695-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113287695-1');
</script>
</head>
<body>
	
<style>
	ul { display:table; margin:0 auto;}
</style>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Twitter Sentiment Analysis</a></h1>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/" title="">Home</a></li>
					<li><a href="/demo" title="">Demo</a></li>
					<li><a href="/about" title="">About</a></li>
				</ul>
			</div>
			<ul class="contact">
				<li><a href="https://www.linkedin.com/in/tyleratk/" target="_blank" class="icon icon-linkedin"><span></span></a></li>
				<li><a href="https://github.com/tyleratk/twitter" target="_blank" class="icon icon-github"><span></span></a></li>
			</ul>
		</br></br>
			<p style="color:white;">Using machine learning and natural-language-processing to determine whether someone is happy or not, based off of their tweets.</p>
		</div>
	</div>
</div>


<div id="page-wrapper">
	<div class="title">
		<h2>Synopsis</h2>
	</div>
	<div>
		<p id="page-p">
		This site is a working demo showcasing the work done for my Galvanize DSI capstone. I utilized Twitter's API to collect over 800k tweets and constructed a model to classify sentiment. I then used that to identify various demographics filtering by location and/or keywords.</p>
	<br>
	<a href="\demo" style="font-size:120%">Click Here</a> for a demo or scroll down to see my results!<br><br><br>
	</div>

<div class="wrapper">
	<div class="title">
		<h2>Findings</h2>
	</div>
	<p id="page-p">
		I broke my sentiment analysis into two parts: filtering by location and filtering by hashtag or keywords. Below is a plot of the average sentiment per county, the count of tweets per county, and the coordintates of each tweet in my dataset. To see my analysis of kerywords and hashtags, head to the <a href="\about">About</a> page.
	</p>

	<br><br><br>
  <h3>Below are three maps: the average sentiment per county, number of tweets per county, and the geolocation of each tweet in my dataset.</h3>
  <br>
	
	<div style="width: 80%; margin: 0 auto">
	<div class='tableauPlaceholder' id='viz1516920851892' style='position: relative'>
		<noscript>
			<a href='#'>
				<img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tw&#47;tweet_sentiment&#47;AverageSentimentbyCounty&#47;1_rss.png' style='border: none' />
			</a>
		</noscript>
		<object class='tableauViz'  style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='tweet_sentiment&#47;AverageSentimentbyCounty' />
			<param name='tabs' value='yes' />
			<param name='toolbar' value='yes' />
			<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tw&#47;tweet_sentiment&#47;AverageSentimentbyCounty&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='filter' value='publish=yes' />
		</object>
	</div>
	<script type='text/javascript'>
		var divElement = document.getElementById('viz1516920851892');
		var vizElement = divElement.getElementsByTagName('object')[0];                    
		vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
		var scriptElement = document.createElement('script');
		scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
		vizElement.parentNode.insertBefore(scriptElement, vizElement);
	</script>
</div>
	<br><br><br><br>
  <h3><a href="\about">See more at the about page</a><br><br>
	</div>
</div>

<div id="copyright" class="container">
		<ul class="contact" style="width: 70%;margin: auto;">
      <li><a href="https://www.linkedin.com/in/tyleratk/" target="_blank" class="icon icon-linkedin"><span></span></a></li>
      <li><a href="https://github.com/tyleratk/twitter" target="_blank" class="icon icon-github"><span></span></a></li>
		</ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
